<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('head'); %>
<body>
    <%- include('header'); %>
    <p>O Facebook é uma rede social que permite conversar com amigos e compartilhar mensagens, links, vídeos e fotografias.</p>
    <i class="fab fa-facebook-f"></i>

    <p>Perguntas:</p>
    <p>Como excluir uma foto?</p>
    <p>Como adicionar um amigo?</p>
    <p>Como criar uma conta?</p>
    <p>Como fazer um comentário?</p>

    <h1>Como faço para excluir uma foto?</h1>

    <h2>Veja o passo a passo</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/6n6iq83lJEo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p>1.Toque na foto para abri-la.
        2.Toque em no canto superior direito.
        3.Toque em Excluir foto e em Excluir para confirmar.</p>

        <a href=""><i class="fas fa-arrow-left"></i></a>
        <legend>Voltar ao início</legend>
    <%- include('footer'); %>
</body>

</html>