<!DOCTYPE html>
<html lang="pt-BR">
<%- include('head'); %>

    <body>
        <%- include('header'); %>
            <div class="titulo">
                <h1>Facebook</h1>
            </div>
            <main>
                <div>
                    <p class="descricao">O Facebook é uma rede social que permite conversar com amigos e compartilhar
                        mensagens, links, vídeos
                        e
                        fotografias.</p>
                </div>
                <div class="redesSociais div-redes">
                    <button class="buttons"><i class="fab fa-facebook-f i"></i></button>
                </div>
                <div>
                    <div class="descricao">
                        <p class="subtitulo">Perguntas:</p>
                        <a href="#vid">Como excluir uma foto?</a>
                        <p>Como adicionar um amigo?</p>
                        <p>Como criar uma conta?</p>
                        <p>Como fazer um comentário?</p>
                    </div>
                </div>
                <div class="duvidas">
                <p class="descricao">Como faço para excluir uma foto?</p>

                <p>Veja o passo a passo:</p>
                <div class="video" id="vid"></div>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/6n6iq83lJEo"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

                </div>
                <ol>
                    <li>Clique nos três pontinhos do canto superior direito</li>
                    <li>Procure a opção "Mover para a lixeira"</li>
                    <li>Ao clicar em "Mover para a lixeira" irá aparecer um quadro branco com algumas informações.</li>
                    <li>Para excluir, clique em "MOVER". Para desistir da remoção, clique em "CANCELAR".</li>
                </ol>
                <a class="return" href="/"><i class="fas fa-arrow-left"></i> Voltar ao início</a>

            </main>
            <%- include('footer'); %>
    </body>

</html>