<header>
    <div class='logotipo'>
        <a href='/'><img src="./img/logo.svg" /></a>
    </div>
    <nav class="navbar">
        <ul class='menu'>
            <li><a href='./index.html'>Início</a></li>
            <li><a href='./sobre.html'>Quem Somos</a></li>
            <li><a href='./contato.html'>Contato</a></li>
        </ul>
    </nav>
</header>