<!DOCTYPE html>
<html lang="pt-BR">
<%- include('head'); %>

    <body>
        <%- include('header'); %>
            <div class="titulo">
                <h1>Whatsapp</h1>
            </div>
            <main>
                <div>
                    <p class="descricao">O TikTok é uma rede social para compartilhamento de vídeos curtos, de 15 a 60
                        segundos, mas que oferece muitos recursos para edição.
                        É possível incluir filtros, legendas, trilha sonora, gifs, fazer cortes e usar a criatividade.
                    </p>
                </div>

                <div class="redesSociais div-redes">
                    <button class="buttons"><i class="fab fa-tiktok i"></i>
                    </button>
                </div>

                <div>
                    <div class="descricao">

                        <p class="subtitulo">Perguntas:</p>
                        <p>Como compartilhar videos do Tiktok?</p>
                        <p>O que são filtros?</p>
                        <p>O que são legendas?</p>
                        <p>O que são gifs?</p>
                        <p>O que são cortes?</p>
                        <p>Como curtir o vídeo?</p>
                        <p>Como salvar o video?</p>
                        <p>Como ganhar dinheiro no Tiktok?</p>
                    </div>
                </div>

                <a class="return" href="/"><i class="fas fa-arrow-left"></i> Voltar ao início</a>

            </main>
            <%- include('footer'); %>
    </body>

</html>