<!DOCTYPE html>
<html lang="pt-BR">
<%- include('head'); %>

    <body>
        <%- include('header'); %>

            <main>
               <p>O TikTok é uma rede social para compartilhamento de vídeos curtos, de 15 a 60 segundos, mas que oferece muitos recursos para edição. 
                É possível incluir filtros, legendas, trilha sonora, gifs, fazer cortes e usar a criatividade.</p>
                
                <i class="fab fa-tiktok"></i>

                <p>Perguntas:</p>
                <p>Como compartilhar videos do Tiktok?</p>
                <p>O que são filtros?</p>
                <p>O que são legendas?</p>
                <p>O que são gifs?</p>
                <p>O que são cortes?</p>
                <p>Como curtir o vídeo?</p>
                <p>Como salvar o video?</p>
                <p>Como ganhar dinheiro no Tiktok?</p>

                <a href=""><i class="fas fa-arrow-left"></i></a>
                <legend>Voltar ao início</legend>

            </main>
            <%- include('footer'); %>
    </body>

</html>