<!DOCTYPE html>
<html lang="pt-BR">
<%- include('head'); %>

    <body>
        <%- include('header'); %>
            <main>
                <div>
                    <p>O Whatspp é uma rede social de mensagens, onde você pode enviar mensagens de texto, áudios,
                        imagens,
                        videos e documentos! Além disso, é possível realizar chamadas de voz e de vídeo com seus amigos
                        e 
                        familiares.</p>
                </div>
                <div>
                    <i class="fab fa-whatsapp"></i>
                </div>
                <div>
                    <p>Perguntas:</p>
                    <p>Como iniciar uma conversa?</p>
                    <p>Como mandar uma imagem?</p>
                    <p>Como criar grupos?</p>
                    <p>Como fazer chamadas de voz?</p>
                    <p>Como fazer chamadas de video?</p>
                    <p>Como adicionar um status?</p>
                    <p>Como gravar um áudio?</p>
                </div>

                <h1>Como faço para iniciar uma conversa?</h1>

                <h2>Veja o passo a passo:</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wtg2gg-samA"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

                <p>1.Encontrar contatos indo até à aba de “Conversas”.
                    2.Toque no ícone de “Nova Conversa”.</p>

                <a href=""><i class="fas fa-arrow-left"></i></a>
                <legend>Voltar ao início</legend>

            </main>

            <%- include('footer'); %>
    </body>

</html>