<!DOCTYPE html>
<html lang="pt-BR">
<%- include('head'); %>

    <body>
        <%- include('header'); %>

            <main>
                <p>
                    O Youtube é uma plataforma de compartilhamento de vídeos, onde é possível conhecer os mais diversos
                    assuntos através de vários criadores de conteúdo, desde dicas básicas do dia a dia até assuntos
                    complexos.
                </p>
                <i class="fab fa-youtube"></i>
                <p>Perguntas:</p>
                <p>Como fazer uma pesquisa escrita?
                </p>
                <p> Como fazer uma pesquisa por voz?
                </p>
                <p> Como fazer um comentário em um vídeo?
                </p>
                <p> Como me inscrever em um canal?
                </p>
                <p> Como salvar um vídeo para mais tarde?
                </p>
                <p> Como curtir um vídeo?
                </p>

                <a href=""><i class="fas fa-arrow-left"></i></a>
                <legend>Voltar ao início</legend>
            </main>
            <%- include('footer'); %>
    </body>

</html>