  body {
    font-family: 'Sen', sans-serif;
    font-size: 1em;
  }
  
  header {
    background: linear-gradient(180deg, #9DB8FF 0%, #476DD1 100%);
  }

  .logotipo {
    width: 100%;
    text-align: center;
    padding: 2em 0;
  }


  a {
    color: black;
    font-family: 'Sen', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    
  }
  .redesSociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
  }
  h2 {
    font-family: 'Sen', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    size: 24px;
    color: #476DD1;
    text-align: center;
    margin: 2em;
    width: 291px;
    height: 58px;
  }
  div >.div-redes{
    display: flex;
    align-content: center;
  }
  .buttons{
    background: #2D9491;
    width: 96px;
    height: 96px;
    border-radius: 300px;
    border: none;
    margin: 2em;
  }
  i {
    margin-top:0.5em;

  }
  .fab {
    color: white;
    font-size: 3em;
  }
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 600px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin: 1.5em;
  }
  .mensagens {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
    overflow: auto;
  }
  .mensagens > .mensagem:nth-child(odd) { background: #efefef; }



  